@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p,li{
    font-family: 'Noto Sans TC', sans-serif;
}

hr{
    border-top: #757575;
    opacity: 1;
}

.header-invisible{
    height: 54px;
}

.moving-header{
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    height:54px;
    background-color: white;
    z-index: 800;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-textbox{
    width: 1200px;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.header-textbox h1{
    font-size: 30px;
    font-weight: 700;
    color: #448899;
}

.header-textbox a{
    text-decoration: none;
    color: #448899;
}

.nav-links{
    list-style: none;
    font-weight: 400;
    font-size: 16px;
}

.nav-item{
    display:inline-block;
    margin: 0 10px;
}

.nav-item button{
    color: #666666;
    border: none;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
}
#loginli{
    display: none;
}
#memberli{
    display: none;
}
#loginMessage{
    color: red;
}

#registerMessage{
    color: red;
}

.login-register-block{
    display: flex;
    justify-content: center;
}

.gray-block{
    background-color: black;
    opacity: 0.25;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 900;
    display: none;
}

.login-block{
    width: 340px;
    background-color: #FFFFFF;
    color: #666666;
    position: fixed;
    z-index: 910;
    text-align: center;
    border-radius: 6px;
    margin-top: 25px;
    display: none;
    animation-name: loginanimation;
    animation-duration: 1s;
}

@keyframes loginanimation{
    from {
        top:0px;
        opacity: 0.5;
    }
    to {
        top:54px;
        opacity: 1;}
}

.register-block{
    width: 340px;
    background-color: #FFFFFF;
    color: #666666;
    position: fixed;
    z-index: 910;
    text-align: center;
    border-radius: 6px;
    margin-top: 25px;
    display: none;
    animation-name: loginanimation;
    animation-duration: 1s;
}

.login-block img, .register-block img{
    position: absolute;
    top: 25px;
    right: 20px;
}

.blue-block{
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    width: 340px;
    height: 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.login-register-block h2{
    margin:5px auto;
}

.login-register-block input{
    width: 310px;
    height: 47px;
    margin: 5px 15px;
    font-size: 16px;
    font-weight: 400;
    padding: 15px;
}

.login-register-block .submit{
    color: #FFFFFF;
    background-color: #448899;
    border-style: none;
    font-size: 19px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 10px;
    width: 310px;
    height: 47px;
    cursor: pointer;
}

.login-register-block button{
    border: none;
    font-size: 16px;
    background-color: white;
    color: #666666;
    margin-top: 5px;
    margin-bottom: 15px;
}

.section-area{
    height: 320px;
    background-image: url("/static/img/welcome.png"),linear-gradient(135deg, #AADDEE 0%, #66AABB 100%);
    background-repeat: no-repeat;
    background-position-x: 85%;
}

.section-block{
    color: white;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 320px;
}

.section-text h2{
    margin-bottom: 15px;
}

.section-text h3{
    margin-bottom: 25px;
    font-weight: 400;
}

.section-text input{
    width: 400px;
    height: 46px;
}

.search-attraction{
    display: flex;
}

.search-area input{
    border-style: none;
    padding: 15px;
}

.button-area{
    display: block;
    border: 0;
    width: 60px;
    height: 46px;
    padding: 8px 15px;
    background: #448899;
}

.search-btn img{
    background: #448899;
    height: 30px;
    width: 30px;
}

.main-container{
    width: 1200px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 55px auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
}

.main-item{
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-item:hover{
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .25);
    cursor: pointer;
}

.img-area img{
    max-height: 100%;
    max-width: 100%;
    height: 12rem;
    width:100%;
    object-fit: cover;
}

.attraction-top{
    margin: 5px 10px 0 10px;
}

.attraction-top p{
    color: #757575;
    font-size: 16px;
    font-weight: 700;
}

.attraction-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #757575;
    font-weight: 400;
    margin: 15px 10px 12px 10px;
}

.footer-block{
    background-color: #757575;
    width: 100%;
    color:white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;
}

.footer-block h3{
    margin: 45px auto;
}

.no-data{
    margin-bottom: 250px
}


/* page attraction main */
main{
    color: #666666;
}
.attraction-up{
    width: 1200px;
    margin: 37px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.many-img{
    margin: 0 15px;
    position: relative;
}

.many-img img{
    width:540px;
    height: 406px;
    border-radius: 5px;
    object-fit: cover;
}

.lunbos{
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 420px;
    text-align: center;
}

.lunbos span {
    width:12px;
    height:12px;
    display:inline-block;
    background-color:#FFFFFF;
    border-radius:50%;
    margin:6px;
}
.lunbos span.hover {
    background-color:black;
    border: 1px solid #FFFFFF
}

.prev-arrow img , .next-arrow img{
    width: 36px;
    height: 36px;
    cursor: pointer;
    opacity: 0.7;
}

.prev-arrow img:hover, .next-arrow img:hover{
    opacity: 1;
}

.prev-arrow{
    position: absolute;
    left: 10px;
    bottom: 185px;
}

.next-arrow{
    position: absolute;
    right:10px;
    bottom: 185px;
}

.attraction-section{
    margin: 0 15px;
}

.origin-data h4{
    margin-top:15px;
    margin-bottom: 20px;
    font-weight: 400;
}

.order-attractions{
    background-color: #E8E8E8;
    width: 600px;
    height: auto;
    padding: 15px 20px;
    border-radius: 5px;
}

.pay-list{
    list-style: none;
}

.pay-list h4{
    margin-bottom: 15px;
}

.pay-list p{
    margin-bottom: 15px ;
}

.choose-date input{
    width: 193px;
    height: 35px;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    background: white;
}

.choose-time .time{
    font-weight: 400;
}

.radio-input{
    visibility: hidden;
}
.radio-label{
    cursor: pointer;
}
.radio-button{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    position: relative;
    top: 4px;
    right: 5px;
    z-index: 10;
}

.radio-button::after{
    content: "";
    display: block;
    border-radius: 50%;
    background-color: #448899;
    height: 18px;
    width: 18px;
    position: relative;
    top: 11px;
    left: 11px;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.radio-input:checked + .radio-label .radio-button::after {
    opacity: 1;
  }

.check-money .money{
    font-weight: 400;
}

#money1{
    display: none;
}

.submit-btn{
    border:0;
    border-radius: 5px;
    background-color: #448899;
    width: 154px;
    height: 36px;
    color: white;
    font-size: 19px;
    font-weight: 400;
    margin-top: 14px;
}

.submit-btn:hover{
    background-color: #2f5d68;
    cursor: pointer;
}

.submit-btn p{
    margin: 10px 20px;
}

.booking-error{
    margin-top: 10px;
    color: red;
}

.attraction-down{
    width: 1200px;
    margin: 50px auto ;
}

.attraction-description{
    margin-bottom: 20px;
}

.attraction-address{
    margin-bottom: 20px;
}

.attraction-traffic{
    margin-bottom: 120px;
}

.stop-scroll {
    height: 100%;
    overflow: hidden;
}

/* booking */
.booking-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.schedule-trip{
    width: 1200px;
    padding-left: 102px;
    margin-top: 46px;
    color: #666666;
}

.schedule-trip h2{
    font-weight: 700;
    font-size: 19px;
    margin-bottom: 35px;
}

.schedule-trip hr{
    margin-top: 40px;
    margin-bottom: 44px;
}

.booking img{
    width:266px;
    height: 200px;
    margin-right: 22px;
}

.booking{
    display: flex;
    justify-content: left;
    width: 980px;
}

.booking-info h3{
    font-size: 16px;
    color:#448899 ;
    margin: 5px auto 30px auto;
    width: 500px;
} 

.trashcan{
    flex-grow: 1;
    display: flex;
    justify-content: right;
}

.trashcan img{
    width: 30px;
    height:30px;
    cursor: pointer;
    margin-right: 0;
}

.booking-info span{
    font-weight: 400;
    font-size: 16px;
}

.booking-info h4{
    margin: 10px auto;
}

.write-area{
    width: 1200px;
    padding-left: 102px;
    color: #666666;
    display: none;
}

.write-area input{
    border: 1px solid #E8E8E8
}

.write-area hr{
    margin-top: 45px;
    margin-bottom: 44px;
}

.user-contact h3{
    margin-bottom: 24px;
    font-size: 19px;
}

.user-contact input{
    width:200px;
    height:38px;
    margin-bottom: 15px;
    padding: 10px;
}

.user-contact h4{
    margin-top: 5px;
}

.err-msg{
    color: red;
}

#card-err-msg ,#backend-err-msg{
    margin-top: 20px;
}

.user-form{
    width: 300px;
}

.credit-card h3{
    margin-bottom: 24px;
}

.right-position{
    display: flex;
    justify-content: right;
}

.right-block h3{
    font-size: 16px;
    text-align: right;
}

.right-block button{
    border: 0;
    border-radius: 5px;
    background-color: #448899;
    width: 173px;
    height: 36px;
    color: white;
    font-size: 19px;
    font-weight: 400;
    margin-top: 25px;
    cursor: pointer;
}

.tpfield {
    height: 40px;
    width: 300px;
    border: 1px solid gray;
    margin: 5px 0;
    padding: 5px;
}

.form-control{
    display: inline-block;
    border: 1px solid #E8E8E8;
    height:38px;
    width: 200px;
    position: relative;
    top: 22px;
    margin-bottom: 9px;
}

.thank-end{
    margin: 20px auto;
}

/* member page */

#member-block{
    display:flex;
    justify-content: center;
    align-items: center;
}

.member-container{
    width: 1200px;
    margin: 55px auto;
    display: none;
}

.member-area{
    margin-bottom: 20px;
}

.member-info{
    display: flex;
    justify-content: left;
}

.member-img{
    width: 20%;
    margin: 10px 10px 0 0;
}

.member-img img{
    width: 100%;
}

.member-info-list{
    width: 60%;
    margin-top: 10px;
}

.member-info-list li{
    list-style: none;
    font-size: 20px;
    margin-bottom: 10px;
}

.logout-block{
    width: 20%;
    align-self: flex-end;
}

#logout{
    border: 0;
    border-radius: 5px;
    background-color: #448899;
    width: 100%;
    height: 36px;
    color: white;
    font-size: 19px;
    font-weight: 400;
    margin-top: 14px;
    cursor: pointer;
}

.member-order-title{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 5px;
}

.member-order-title-li{
    width: 25%;
    margin: 5px 0;
}

.member-order{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px #666666 solid;
    margin: 5px 0 5px 0;
    cursor: pointer;
}

.member-order:hover{
    background-color: #E8E8E8;
}

.member-order-li{
    margin: 8px 0;
    width: 25%;
}

@media screen and (min-width: 601px) and (max-width:1200px){

    .main-container{
        width: 90%;
        grid-template-columns: 1fr 1fr;
    }
    .header-textbox{
        width: 90%;
    }

    .section-area{
        background-position-x: right 150%;
        background-position-y: bottom;
        background-size: contain;
    }

    .section-block{
        width: 90%;
    }

    .section-text input{
        width: 300px;
    }

    /* page attraction main */
    .attraction-up{
        width: 100%;
        display: grid;
        grid-template-columns:1fr;
        margin: 0;
    }
    
    .many-img{
        margin: 0 0 20px 0;
    }

    .many-img img{
        width: 100%;
        top: 0;
    }

    .attraction-section{
        margin: 0 0 40px 0;
    }

    .origin-data ,.order-attractions{
        width: 95%;
        margin: 0 auto;
        
    }

    .attraction-down{
        width: 95%;
    }

    .schedule-trip{
        width: 90%;
        padding: 0;
    }

    /* booking */
    .booking{
        width: 100%;
    }

    .booking-info h3{
        width: auto;
    }

    .trashcan{
        margin-left: 0;
        display: flex;
        justify-content: right;
    }

    .trashcan img{
        position: relative;
    }

    .write-area{
        width: 90%;
        padding-left: 0;
    }

    .right-position{
        margin-right: 0;
    }

    .member-container{
        width: 90%;
        margin: 55px auto;
    }
}

@media screen and (max-width:600px) {
    .nav-item{
        display:inline-block;
        margin: 0 5px;
    }

    .main-container{
        width: 90%;
        grid-template-columns: 1fr;
    }

    .header-textbox{
        width: 90%;
    }

    .section-area{background-image: url("/static/img/welcomesmall.png"),linear-gradient(135deg, #AADDEE 0%, #66AABB 100%);
        background-position-x: right;
        background-position-y: bottom;
    }

    .section-block{
        width: 90%;
    }

    .section-text input{
        width: 230px;
    }

    /* page attraction main */
    .attraction-up{
        width: 100%;
        display: grid;
        grid-template-columns:1fr;
        margin: 0;
    }
    
    .many-img{
        margin: 0 0 20px 0;
    }

    .many-img img{
        width: 100%;
        top: 0;
    }

    .attraction-section{
        margin: 0 0 40px 0;
    }

    .origin-data ,.order-attractions{
        width: 95%;
        margin: 0 auto;
        height: auto;
    }

    .attraction-down{
        width: 95%;
    }

    .schedule-trip{
        width: 90%;
        padding: 0;
    }

    .booking{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 30px;
    }

    .booking h3{
        margin-left: 0;
    }

    .booking img{
        width: 100%;
        height: auto;
        margin-bottom: 28px;
        margin-right: 0;
    }

    .trashcan {
        flex-grow: 1;
        margin-left: 90%;
    }

    .trashcan img{
        width: 30px;
        height: 30px;
        margin-bottom: 0;
        margin-right: 0;
    }

    .write-area{
        width: 90%;
        padding-left: 0;
    }

    .write-area hr {
        margin: 0;
    }

    .user-contact {
        margin-top: 44px;
        margin-bottom: 40px;
    }

    .credit-card {
        margin-top: 44px;
        margin-bottom: 40px;
    }

    .right-position{
        margin-top: 43px;
        margin-right: 0;
    }

    .member-container{
        width: 90%;
        margin: 55px auto;
    }
    .member-order-title{
        flex-wrap: wrap;
        border: 1px #337788 double;
    }
    .member-order-title-li{
        width: 50%;
    }
    .member-order{
        flex-wrap: wrap;
    }
    .member-order-li{
        width: 50%;
    }
    .member-info{
        flex-wrap: wrap;
    }
    .member-img{
        width: 100%;
    }
    .member-info-list{
        width: 100%;
    }
    .logout-block{
        width: 100%;
    }
}