<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css" >
    <title>台北一日遊-景點</title>
</head>
<body>
    <header>
        <div class="header-invisible"></div>
        <div class="moving-header">
            <div class="container">
                <div class="header-textbox">
                    <h1><a href="/">台北一日遊</a></h1>
                    <nav>
                        <ul class="nav-links">
                            <li class="nav-item"><button id="check-booking">預定行程</a></li>
                            <li class="nav-item" id="loginli"><button id="login-and-regiseter">登入/註冊</button></li>
                            <li class="nav-item" id="logoutli"><button id="logout">登出系統</button></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <hr>
        </div>
    </header>
    <section class="login-register-block" id="login-register-block">
        <div class="gray-block" id="gray-block"></div>
        <div class="login-block" id="login-block">
            <div class="blue-block"></div>
            <h2>登入會員帳號</h2>
            <input type="email" name="email" id="login-email" placeholder="輸入電子信箱">
            <input type="password" name="password" id="login-password" placeholder="輸入密碼">
            <button class="submit" id = "login-submit">登入帳戶</button>
            <p id="loginMessage"></p>
            <p>還沒有帳戶？<button id="check-register">點此註冊</button></p>
        </div>
        <div class="register-block" id="register-block">
            <div class="blue-block"></div>
            <h2>註冊會員帳號</h2>
            <input type="text" name="name" id="register-name" placeholder="輸入姓名" minlength="1">
            <input type="email" name="email" id="register-email" placeholder="輸入電子信箱" minlength="4">
            <input type="password" name="password" id="register-password" placeholder="輸入密碼" minlength="4" maxlength="20">
            <button class="submit" id="register-submit">註冊新帳戶</button>
            <p id="registerMessage"></p>
            <p>已經有帳戶了？<button id="check-login">點此登入</button></p>
        </div>
    </section>
    <main>
        <div class="attraction-up" id="attraction-up">
            <div class="many-img" id="many-img">
            </div>
            <div class="attraction-section" id="attraction-section">
                <div class = "origin-data" id="origin-data">        
                </div>
                <div class="order-attractions">
                    <form class="pay-list">
                        <h4>訂購導覽行程</h4>
                        <p>以此景點為中心的一日行程，帶您探索城市角落故事</p>
                        <h4 class="choose-date">
                            <label for="choose-date">選擇日期：</label>
                            <input type="date" name="date" id="choose-date">
                        </h4>
                        <h4 class="choose-time">
                            選擇時間：
                            <span class="time">
                                <input type="radio" class="radio-input" name="time" id="up-time" value="top-day" checked>
                                <label for="up-time" class="radio-label">
                                    <span class="radio-button"></span>
                                    上半天
                                </label>
                                <input type="radio" class="radio-input" name="time" id="down-time" value="buttom-day">
                                <label for="down-time" class="radio-label">
                                    <span class="radio-button"></span>
                                    下半天
                                </label>  
                            </span> 
                        </h4>
                        <h4 class="check-money">導覽費用：
                            <span class="money" id = "money">新台幣 2000 元</span>
                        </h4>
                        <button type="submit" class="submit-btn">開始預定行程</button>
                    </form>                    
                </div>
            </div>
        </div>
        <hr>
        <div class="attraction-down" id="attraction-down">
            <div class="attraction-description" id="attraction-description"></div>
            <div class="attraction-address" id="attraction-address">
                <h4>景點地址：</h4>
            </div>
            <div class="attraction-traffic" id="attraction-traffic">
                <h4>交通方式：</h4>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-block">
            <h3>COPYRIGHT © 2021 台北一日遊</h3>
        </div>
    </footer>
    <script src="/static/attraction.js"></script>
    <script src="/static/login.js"></script>
    
</body>
</html>