<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css" >
    <title>台北一日遊</title>
</head>
<body>
    <header>
        <div class="header-invisible"></div>
        <div class="moving-header">
            <div class="container">
                <div class="header-textbox">
                    <h1><a href="/">台北一日遊</a></h1>
                    <nav>
                        <ul class="nav-links">
                            <li class="nav-item"><button id="check-booking">預定行程</a></li>
                            <li class="nav-item" id="loginli"><button id="login-and-regiseter">登入/註冊</button></li>
                            <li class="nav-item" id="memberli"><button id="member-btn">會員專區</button></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <section class="login-register-block" id="login-register-block">
        <div class="gray-block" id="gray-block"></div>
        <div class="login-block" id="login-block">
            <div class="blue-block"></div>
            <h2>登入會員帳號</h2>
            <img src="/static/img/icon_close.png" id="close-img">
            <input type="email" name="email" id="login-email" placeholder="輸入電子信箱">
            <input type="password" name="password" id="login-password" placeholder="輸入密碼">
            <button class="submit" id = "login-submit">登入帳戶</button>
            <p id="loginMessage"></p>
            <p>還沒有帳戶？<button id="check-register">點此註冊</button></p>
        </div>
        <div class="register-block" id="register-block">
            <div class="blue-block"></div>
            <h2>註冊會員帳號</h2>
            <img src="/static/img/icon_close.png" id="close-img2">
            <input type="text" name="name" id="register-name" placeholder="輸入姓名" minlength="1">
            <input type="email" name="email" id="register-email" placeholder="輸入電子信箱" minlength="4">
            <input type="password" name="password" id="register-password" placeholder="輸入密碼" minlength="4" maxlength="20">
            <button class="submit" id="register-submit">註冊新帳戶</button>
            <p id="registerMessage"></p>
            <p>已經有帳戶了？<button id="check-login">點此登入</button></p>
        </div>
    </section>
    <section>
        <div class="section-area">
            <div class="section-block">
                <div class="section-text">
                    <h2>輕鬆享受台北一日悠閒</h2>
                    <h3>探索每個角落，體驗城市的深度旅遊行程</h3>
                    <div class="search-attraction">
                        <div class="search-area">
                            <label for="attraction-name"></label>
                            <input type="text" name="attraction-name" id="attraction-name" placeholder="輸入景點名稱查詢">
                        </div>
                        <button class="button-area" id="button-area"><img src="/static/img/icon_search.png"></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <main id="main">
        <div class="main-container" id="main-area"></div>
    </main>
    <footer>
        <div class="footer-block">
            <h3>COPYRIGHT © 2021 台北一日遊</h3>
        </div>
    </footer>
    <script src="/static/script.js"></script>
    <script src="/static/login.js"></script>
</body>
</html>