<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css" >
    <title>台北一日遊</title>
</head>
<body>
    <header>
        <div class="header-invisible"></div>
        <div class="moving-header">
            <div class="container">
                <div class="header-textbox">
                    <h1><a href="/">台北一日遊</a></h1>
                    <nav>
                        <ul class="nav-links">
                            <li class="nav-item"><a href="#">預定行程</a></li>
                            <li class="nav-item"><a href="#">登入/註冊</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="section-area">
            <div class="section-block">
                <div class="section-text">
                    <h2>輕鬆享受台北一日悠閒</h2>
                    <h3>探索每個角落，體驗城市的深度旅遊行程</h3>
                    <div class="search-attraction">
                        <div class="search-area">
                            <label for="attraction-name"></label>
                            <input type="text" name="attraction-name" id="attraction-name" placeholder="輸入景點名稱查詢">
                        </div>
                        <button class="button-area" id="button-area"><img src="/static/img/icon_search.png"></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <main id="main">
        <div class="main-container" id="main-area"></div>
    </main>
    <footer>
        <div class="footer-block">
            <h3>COPYRIGHT © 2021 台北一日遊</h3>
        </div>
    </footer>
    <script src="/static/script.js"></script>
</body>
</html>